body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}

.text-primary-custom {
  color: #4c7c34 !important;
}

.btn-primary-custom {
  background-color: white;
  border-color: #4c7c34;
  transition: background-color 0.3s ease;
  font-weight: 600;
  border-radius: 8px;
}

.btn-primary-custom:hover {
  background-color: #386125;
  border-color: #386125;
  color: white;
}

.about-hero {
  background-color: #e9ecef;
  padding: 80px 0;
  border-bottom: 3px solid #4c7c34;
}
