:root {
  --primary-custom: #10b981;
  --light-green: #f0fdf4;
  --signout-red: #ef4444;
}

.bg-light-green {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("../Assets/images-jpeg-etc/18.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.text-primary-custom {
  color: #4c7c34 !important;
}

.border-left-lg {
  border-left: 8px solid #4c7c34;
}

.btn-signout-custom {
  background-color: var(--signout-red);
  color: white;
  transition: background-color 0.3s;
}

.btn-signout-custom:hover {
  background-color: #dc2626;
  color: white;
}

.info-card,
.feature-card {
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.displayDiv {
  background-color: rgba(255, 255, 255, 0.808);
}

.border-dashed {
  border: 2px dashed #d1d5db;
  border-radius: 8px;
}
