:root {
  --primary-green: #3d7a1e;
  --light-bg: #f5f9f5;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--light-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-primary-custom {
  color: var(--primary-green) !important;
}

.btn-custom {
  background-color: var(--primary-green);
  border-color: var(--primary-green);
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(61, 122, 30, 0.4);
}

.btn-custom:hover {
  background-color: #2e5c16;
  border-color: #2e5c16;
  box-shadow: 0 6px 15px rgba(61, 122, 30, 0.6);
}

.card {
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border: none;
}

main {
  flex-grow: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../Assets/images-jpeg-etc/12.jpg");

  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  color: #fff;
}

.form-control {
  border-radius: 8px;
}

.form-control:focus {
  border-color: var(--primary-green);
  box-shadow: 0 0 0 0.25rem rgba(61, 122, 30, 0.4);
}

main .card {
  background-color: rgba(255, 255, 255, 0.95);
  color: #333;
}

main .card .form-label {
  color: #555 !important;
}