body {
  font-family: "Inter", sans-serif;
  background-color: #f0f4f7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.text-primary-custom {
  color: #4c7c34 !important;
}
.btn-custom {
  background-color: #4c7c34;
  border-color: #4c7c34;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.2s;
}
.btn-custom:hover {
  background-color: #386125;
  border-color: #386125;
}
.card {
  background-color: rgba(255, 255, 255, 0.856);
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}
.message-box {
  display: none;
  padding: 10px;
  border-radius: 6px;
  margin-top: 15px;
}
main {
  flex-grow: 1;
  background-image: linear-gradient(rgba(37, 37, 37, 0.7)), url(../Assets/images-jpeg-etc/21.jpg);
  background-size: cover;
  background-position: center;
}
